<div class="card">
  <h2 class="card-title">{{ gang?.name }}</h2>
  <p><span>Credits: </span><span>{{ gang?.credits }}</span></p>
  <p><span>Meat: </span><span>{{ gang?.meat }}</span></p>
  <p><span>Rating/Cost: </span><span>{{ gang?.rating }}</span></p>
  <p><span>Reputation: </span><span>{{ gang?.reputation }}</span></p>
  <p><span>Wealth: </span><span>{{ gang?.wealth }}</span></p>
  <button class="btn btn-primary" (click)="editGang()">Edit gang</button>
</div>