<div class="modal-header">
  <h4 class="modal-title">Edit Gang</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <div class="d-flex flex-row">
        <label>Name: </label>
        <input type="text" formControlName="name">
      </div>
      <div class="d-flex flex-row">
        <label>Credits: </label>
        <input type="number" formControlName="credits">
      </div>
      <div class="d-flex flex-row">
        <label>Meat: </label>
        <input type="number" formControlName="meat">
      </div>
      <div class="d-flex flex-row">
        <label>Rating/Cost: </label>
        <input type="number" formControlName="rating">
      </div>
      <div class="d-flex flex-row">
        <label>Reputation: </label>
        <input type="number" formControlName="reputation">
      </div>
      <div class="d-flex flex-row">
        <label>Weath: </label>
        <input type="number" formControlName="wealth">
      </div>
      <div class="d-flex flex-row">
        <label>Notes: </label>
        <input type="text" formControlName="notes">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success" (click)="saveGang()">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
