<div class="modal-header">
  <h4 class="modal-title">Edit Character Stats</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group row">
      <div class="col d-flex flex-row">
        <input type="text" formControlName="name">
      </div>
    </div>
    <div class="form-group row w-100">
      <div class="col pr-1 d-flex flex-column">
        <label>M</label>
        <input type="number" formControlName="m">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>WS: </label>
        <input type="number" formControlName="ws">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>BS: </label>
        <input type="number" formControlName="bs">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>S: </label>
        <input type="number" formControlName="s">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>T: </label>
        <input type="number" formControlName="t">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>W: </label>
        <input type="number" formControlName="w">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>I: </label>
        <input type="number" formControlName="i">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>A: </label>
        <input type="number" formControlName="a">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>Ld: </label>
        <input type="number" formControlName="ld">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>Cl: </label>
        <input type="number" formControlName="cl">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>Wil: </label>
        <input type="number" formControlName="wil">
      </div>
      <div class="col px-1 d-flex flex-column">
        <label>Int: </label>
        <input type="number" formControlName="int">
      </div>
      <div class="col pl-1 d-flex flex-column">
        <label>XP: </label>
        <input type="number" formControlName="xp">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success"
    (click)="createCharacter(); activeModal.close('Close click')">Create</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
