<div class="row w-100">
  <div class="col-4">
    <div><h6>Equipment</h6></div>
    <div>{{ character!.equipment }}</div>
  </div>
  <div class="col-4">
    <div><h6>Skills</h6></div>
    <div>{{ character!.skills }}</div>
  </div>
  <div class="col-4">
    <div><h6>Injuries</h6></div>
    <div>{{ character!.injuries }}</div>
  </div>
  <div class="col-4">
    <div><h6>Special Rules</h6></div>
    <div>{{ character!.specialRules }}</div>
  </div>
  <div class="col-4">
    <div><h6>Loadout</h6></div>
    <div>{{ character!.loadout }}</div>
  </div>
</div>
<div class="row w-100">
  <div class="col-12">
    <div><h6>Notes</h6></div>
    <div>{{ character!.notes }}</div>
  </div>
</div>
