<div class="container">
  <div class="row">
    <span class="col">M</span>
    <span class="col">WS</span>
    <span class="col">BS</span>
    <span class="col">S</span>
    <span class="col">T</span>
    <span class="col">W</span>
    <span class="col">I</span>
    <span class="col">A</span>
    <span class="col">Ld</span>
    <span class="col">Cl</span>
    <span class="col">Wil</span>
    <span class="col">Int</span>
    <span class="col">XP</span>
  </div>
  <div class="row">
    <span class="col">{{ stats?.m }}</span>
    <span class="col">{{ stats?.ws }}</span>
    <span class="col">{{ stats?.bs }}</span>
    <span class="col">{{ stats?.s }}</span>
    <span class="col">{{ stats?.t }}</span>
    <span class="col">{{ stats?.w }}</span>
    <span class="col">{{ stats?.i }}</span>
    <span class="col">{{ stats?.a }}</span>
    <span class="col">{{ stats?.ld }}</span>
    <span class="col">{{ stats?.cl }}</span>
    <span class="col">{{ stats?.wil }}</span>
    <span class="col">{{ stats?.int }}</span>
    <span class="col">{{ stats?.xp }}</span>
  </div>
</div>
