<div class="d-flex justify-content-center text-center">
  <div class="necro-title">
    <h1 class="necro-title-header">Necromunda</h1>
    <h2 class="necro-sub-header">Gang Manager</h2>
  </div>
</div>
<div class="container-fluid">
  <div class="justify-content-center page">
    <router-outlet></router-outlet>
  </div>
</div>
