<div class="card">
  <h2 class="card-title">Players</h2>
  <ul class="players-list list-group">
    <li class="players-list-item list-group-item" *ngFor="let player of players">
      <a [routerLink]="['/player', player.uid]">
        {{ player?.name }}
      </a>
    </li>
  </ul>
</div>
