<div *ngIf="character; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div class="card">
    <h4 class="card-title">{{ character?.name }}</h4>
    <app-character-stats [stats]="character?.stats"></app-character-stats>
    <button class="btn btn-primary" (click)="editStats()">Edit stats</button>
  </div>
  <div class="card">
    <app-character-notes [character]="character"></app-character-notes>
    <button class="btn btn-primary" (click)="editMisc()">Edit misc notes</button>
  </div>
</ng-template>
<ng-template #elseBlock>Detail Error</ng-template>
