$primary: rgb(255, 208, 0);
$secondary: rgb(0, 0, 200);

:root {
    --necro-indigo: #45466b;
    --necro-grey: #ced0c3;
    --necro-yellow: #f6df1e;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.card {
    min-width: 200px;
    max-width: 80%;
    margin: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--light);
}

.card-title {
    padding: 8px;
    border-radius: 4px;
    color: var(--necro-yellow);
    background-color: var(--necro-indigo);
}

.necro-title {
    max-width: max-content;
    margin: 4px;
    padding: 12px;
    color: var(--necro-yellow);
    background-color: var(--necro-indigo);
    border: 10px solid var(--necro-grey) !important;
}

.necro-sub-title {
    color: var(--necro-yellow);
}

ul li a:visited {
    color: black !important;
}

ul li a:hover, ul li a:active {
    color: black !important;
}

ul li.active a {
    color: black !important;
}