<div class="card">
  <h2 class="card-title">Gangs</h2>
  <button class="btn btn-primary" (click)="addGang()">Add new gang</button>
  <ul class="gangs-list list-group">
    <li class="gangs-list-item list-group-item" *ngFor="let gang of gangs">
      <a class="row" [routerLink]="['/player', playerId, 'gang', gang.uid]">
        <span class="col">{{ gang?.name }}</span>
        <span class="col">{{ gang?.wealth }}</span>
      </a>
    </li>
  </ul>
</div>
