<div class="modal-header">
  <h4 class="modal-title">Edit Character Misc</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <div class="d-flex flex-row">
        <label>Equipment: </label>
        <input type="text" formControlName="equipment">
      </div>
      <div class="d-flex flex-row">
        <label>Skills: </label>
        <input type="text" formControlName="skills">
      </div>
      <div class="d-flex flex-row">
        <label>Injuries: </label>
        <input type="text" formControlName="injuries">
      </div>
      <div class="d-flex flex-row">
        <label>Special Rules: </label>
        <input type="text" formControlName="specialRules">
      </div>
      <div class="d-flex flex-row">
        <label>Loadout: </label>
        <input type="text" formControlName="loadout">
      </div>
      <div class="d-flex flex-row">
        <label>Notes: </label>
        <input type="text" formControlName="notes">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success" (click)="saveMisc(); activeModal.close('Close click')">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
