<div *ngIf="gang && character; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <a [routerLink]="['/gang', gang?.uid, 'character', character?.uid]"><h4 class="card-header">{{ character?.name }}</h4></a>
  <app-character-stats [stats]="character?.stats"></app-character-stats>
</ng-template>
<ng-template #elseBlock><p>Short Error</p></ng-template>
