<div *ngIf="gang; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <app-gang-detail></app-gang-detail>
  <button class="btn btn-primary" (click)="addCharacter()">Add character</button>
  <div *ngFor="let character of characters">
    <div class="card">
      <a [routerLink]="['/player', playerId, 'gang', gangId, 'character', character?.uid]">
        <h4 class="card-title">{{ character?.name }}</h4>
      </a>
      <app-character-stats [stats]="character?.stats"></app-character-stats>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <p>Gang Roster Component Error</p>
</ng-template>
